@charset "UTF-8";

#wrap{
	width:1200px;
	margin: 0 atuo;
	
}

header{
	height :100px;
	background-color : #CCCCCC;
}

.contents > .input-box {
	width:400px;
	background-color : #CCCCCC;
}

footer {
	height:70px;
	background-color : #CCCCCC;
}